<div class="center container homepage">
  <h1 class="tagline">Welcome to Twitter! (But for Dogs)</h1>

  <h2>
    See what's happening in the world (of dogs) right now.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary signup-button" %><br>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary homepage-login-button" %>
</div>
